<ion-content class="login-div" padding>

  <div class="flag-main-div" id="flagUl" >
    <ul class="country-list">
      <li class="country" *ngFor="let c of allCountries" id="{{c.flag}}" (click)="chooseCountry(c)">
        <span class="flag-icon {{c.flag}}"></span><span class="country-span">{{c.name}}</span><span
        class="dial-code">{{c.dialCode}}</span>
      </li>
    </ul>
  </div>


  <div class="padding-top-20pt">
    <div text-center>
      <img [src]="logoImage" class="width60pt">
    </div>
    <div padding-top text-center>
      <h1 class="text-white">The Future of Hospitalty</h1>
    </div>

    <!--main div-->
    <div class="full-width input-block" padding>

      <!--flag container-->
      <div class="flag-div" (click)="selectCountry()">

        <!--selected flag-->
        <div class="active-flag padding-10">
          <span class="flag-icon {{activeFlag}}"></span>
          <div class="flag-arrow"></div>
        </div>

      </div>
      <!--phone input-->
      <input class="phone-input" name="phone" [(ngModel)]="mobile" placeholder="Mobile Number" minlength="10"
             maxlength="10" pattern="[1-9]{1}[0-9]*" type="tel" #phone="ngModel" autocomplete="off" required>

      <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="text-dark-orange error-div">
        <div [hidden]="!phone.errors.required">
          Mobile number is required
        </div>
        <div [hidden]="!phone.errors.maxlength && !phone.errors.minlength">
          Mobile number must consist 10 digits only
        </div>
        <div [hidden]="!phone.errors.pattern">
          Please enter valid mobile number
        </div>
      </div>

      <!--disable button till data is not valid-->
      <button margin-top ion-button block outline class="btn-login" (click)="login()">Sign In</button>
      <h4 text-center margin-top padding-top class="text-white">Or register with your hotel</h4>
    </div>

  </div>
</ion-content>
