<!-- Generated template for the SelectCountryComponent component -->

<!--<ion-content padding>-->

  <!--<div class="flag-main-div" *ngIf="isListOpen">-->
    <!--<ul class="country-list">-->
      <!--<li class="country" *ngFor="let c of allCountries" #{{c.flag}} id="{{c.flag}}" (click)="chooseCountry(c)">-->
        <!--<img [src]="c.flagImg" class="flag-scroll-img"><span class="country-span">{{c.name}}</span><span-->
        <!--class="dial-code">{{c.dialCode}}</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

    <!--&lt;!&ndash;main div&ndash;&gt;-->
    <!--<div class="full-width input-block" padding id="mainDivId">-->

      <!--&lt;!&ndash;flag container&ndash;&gt;-->
      <!--<div class="flag-div" (click)="selectCountry()">-->

        <!--&lt;!&ndash;selected flag&ndash;&gt;-->
        <!--<div class="active-flag padding-9">-->
          <!--<img [src]="activeFlag" class="flag-scroll-img">-->
          <!--<div class="flag-arrow"></div>-->
        <!--</div>-->

      <!--</div>-->
      <!--&lt;!&ndash;phone input&ndash;&gt;-->
      <!--<input class="phone-input" name="phone" [(ngModel)]="mobile" placeholder="{{numberPlaceholder}}" type="tel"-->
             <!--#phone="ngModel" autocomplete="off" (blur)="validationCheckFn(mobile)" >-->

    <!--</div>-->

